.section-container {
    padding: 1rem;
}

.section-title {
    text-align: center;
    padding: .2rem 0;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    margin-bottom: 0;
}
